In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randn(5)
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
s
#data series is one dimensional but each row has labels

a   -1.366413
b   -2.195704
c   -1.741806
d   -0.720754
e    1.345214
dtype: float64

In [3]:
time = pd.date_range('2013-01-28', periods=6)

data = np.random.randn(6, 4)

df = pd.DataFrame(data, index=time, columns=list('ABCD'))

df
#data frames are 2d, therefore both the columns and the rows have indexes
#let A,B... be places for example

                   A         B         C         D
2013-01-28 -0.284826  0.035710  0.312110  0.972868
2013-01-29  0.166682 -0.142313 -0.315630 -0.776970
2013-01-30 -2.011938  0.313104  0.229569  1.458476
2013-01-31 -0.613562  1.414956  0.793555  0.358823
2013-02-01  0.331422  0.755886 -1.356311  1.364642
2013-02-02 -0.189642 -1.072263  0.328873  0.288739

In [5]:
df['A'] #selecting a column as a data series, output rows have index (time here)
df[['A']] #selecting a column as a dataframe, output columns have index TOO

                   A
2013-01-28 -0.284826
2013-01-29  0.166682
2013-01-30 -2.011938
2013-01-31 -0.613562
2013-02-01  0.331422
2013-02-02 -0.189642